.player {
    position: absolute;
    bottom: 8px;
    left: 5px;
    height: 9.5vh;
    border-radius: 10px;
    width: calc(99.5vw - 16px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    text-align: center;
    background-color: var(--color-background-secondary);
}

.quality-button {
    background-color: rgba(88, 242, 135, 20%);
    height: 3vh;
    font-family: 'Be Vietnam Pro';
    margin-right: 16px;
    width: 5vw;
    border: 0;
    color: var(--color-primary);
    border-radius: 5px;
    cursor: pointer;
}

.quality-select {
    background-color: var(--color-background-tertiary);
    z-index: 100;
    text-align: left;
    padding: 8px;

    div {
        display: flex;
        flex-direction: row;

        .text {
            width: 50%;
            display: flex;
            flex-direction: column;
        }

        p {
            margin: 0;
        }
    }
}

.song-info {
    width: 30vw;
    height: 95%;
    display: flex;
    align-items: center;
    flex-direction: row;

    div {
        margin-left: 16px;
        display: flex;
        height: 80%;
        justify-content: center;
        flex-direction: column;
        text-align: left;

        h3 {
            // margin-top: 0;
            margin-bottom: 0;
        }

        p,
        a {
            color: rgb(175, 175, 182);
            margin-top: 3px;
            font-weight: 400;
            margin-bottom: 8px;
        }

        .playing-from {
            font-size: 0.8rem;
            margin-bottom: 20px;
        }

    }

    img {
        border-radius: 10px;
        height: 100%;
    }
}

.icons {
    display: flex;
    align-items: center;
    justify-content: center;

    * {
        margin-bottom: 8px;
        margin-left: 5px;
        font-size: 1.3rem;
        padding: 8px;
        cursor: pointer;
        transition: background-color 200ms linear;
        border-radius: 10px;

        &:hover {
            background-color: rgba(0, 0, 0, 20%);
        }
    }
}

.play {
    font-size: 1.9rem;
}

.progress {
    width: 40vw;
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;

    p {
        margin: 0 8px;
        width: 40px;
        font-size: 0.8rem;
        color: rgb(175, 175, 182);
    }

    .rc-slider {
        width: 40vw !important;
    }
}

.progress-bar {
    width: 40vw !important;
}

.controls {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 11vw;
    margin-left: 17vw;

    svg {
        height: 20px;
        width: 20px;
        margin-right: 10px;
        padding: 4px;
        border-radius: 5px;
        transition: 200ms linear;

        &:hover {
            background-color: rgba(0, 0, 0, 20%);
            color: var(--color-primary);
        }
    }
}



@media (max-height: 640px) {
    .song-info {
        .playing-from {
            display: none;
        }
    }
}