.list {
    display: flex;
    flex-direction: column;
    align-items: center;

    * {
        width: 93%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1%;

        * {
            display: -webkit-box;
            margin: 4px 0;
            overflow: hidden;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            text-overflow: ellipsis;
        }
    }

    .song {
        * {
            font-weight: 300 !important;
        }

        button {
            background-color: rgba(0, 0, 0, 0%);
            border: none;
            color: white;
            cursor: pointer;
            font-weight: 300;
            padding: 0;
            text-align: left;
            width: 100%;
        }
    }

    .song:nth-child(2n) {
        background-color: rgba(0, 0, 0, 10%);

        * {
            background-color: rgba(0, 0, 0, 0%) !important;
        }
    }
}

.header {
    * {
        margin: 12px 0;
    }

    background-color: rgba(0, 0, 0, 20%);
    border-radius: 10px 10px 0 0;
    border-right: black; // margin-bottom: 1rem;
}

.playlist {
    * {
        text-align: left;
    }

    .number {
        display: flex;
        justify-content: center;
        width: 2%;
    }

    .title {
        display: flex;
        flex-direction: row;
        justify-content: start;
        width: 25%;
        padding: 0;

        img {
            margin-right: 8px;
            border-radius: 10px;
            height: 40px;
            width: 40px;
            box-shadow: 0 0 12px rgba(0, 0, 0, 25%);
        }
    }

    .artist {
        width: 22.5%;
    }

    .album {
        width: 22.5%;
    }

    .time-added {
        width: 10%;
    }

    .duration {
        width: 6%;
    }
}